.pointer {
  cursor: pointer;
}

.container {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.col
{
  flex-flow: column;
}
