<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Rechercher sur instabook"></ion-searchbar>

  <section class="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item color="light">
            <ion-label position="stacked">Nom et prénom</ion-label>
            <ion-input placeholder="Yvan Brai"></ion-input>
          </ion-item>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item color="light">
          <ion-label position="stacked">Age</ion-label>
          <ion-input placeholder="24"></ion-input>
        </ion-item>

        <ion-item color="light">
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item color="light">
          <ion-label position="stacked">Confirmez votre mot de passe</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

      </ion-card-content>
      <ion-text color="primary" class="pointer" [routerLink]="['/login']"><p>Retour a la page de connexion</p></ion-text>
      <ion-text color="primary"><p>Mot de passe oublié ?</p></ion-text>
      <ion-button shape="round" expand="full" color="primary"  [routerLink]="['/feeds']">Inscription</ion-button>
    </ion-card>

  </section>

</ion-content>
