<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Rechercher sur instabook"></ion-searchbar>

  <section class="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item color="light">
            <ion-label position="stacked">Titre de votre publication</ion-label>
            <ion-input placeholder="Titre..."></ion-input>
          </ion-item>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item color="light">
          <ion-label position="stacked">Description de votre publication</ion-label>
          <ion-input placeholder="Description..."></ion-input>
        </ion-item>

        <ion-item color="light">
          <ion-label position="stacked">Image de votre publication</ion-label>
          <ion-input type="file"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </section>

</ion-content>
